@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "Goudy";
  font-weight: 400;
  src: url("./assets/fonts/OPTIwtcGoudy-LightItalic/OPTIwtcGoudy-LightItalic.otf");
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 40vh;

  font-family: San Francisco, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 2;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  grid-column: 2 / 12;
  font-size: 5.5rem;
  letter-spacing: 1px;
  padding: 0;
  text-align: center;
  overflow: hidden;
  animation: fadeInAnimation 1s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#header {
  opacity: 1;
}

#header-title {
  overflow: hidden;
  margin: 25vh 0 -10px;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  font-weight: 100;
}

#header-caption {
  overflow: hidden;
  margin: 0;
  font-family: Goudy;
  font-size: 2.5rem;
  text-transform: uppercase;
  -webkit-animation-delay: 0.075s;
  animation-delay: 0.075s;
}

#scroll-icon {
  margin-top: 25vh;
  height: 60px;
  width: 60px;
  animation: bounce 1.5s 1s infinite both;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

section {
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.4rem;
  line-height: 1.5;
  /* margin-bottom: var(--spacing); */
  border-radius: 1em;
  /* position: -webkit-sticky;
  position: sticky;
  top: 10vh; */
  transition: opacity 0.2s ease-in;
}

.experience-date {
  margin-top: -30px;
  font-style: italic;
}

blockquote {
  padding: 0;
  grid-column: 5 / span 5;
  font-family: Goudy;
  text-transform: uppercase;
  margin: 30vh 0;
}

blockquote p {
  color: white;
  background-color: none;
  font-size: 7rem;
  display: inline;
  line-height: 1;
  border-radius: 1rem;
}

.segment {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  margin: 30vh 0;
}

.left {
  grid-column: 2 / 7;
}

.right {
  grid-column: 7 / 12;
}

.last {
  grid-column: 4 / 10;
  text-align: center;
  background: none;
}

.fadeOut {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
}

.img-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}

.alt-wrap {
  display: block;
  position: relative;
  margin: 5px;
  color: whitesmoke;
}

.alt-wrap p.alt {
  position: absolute;
  opacity: 0; /* hide initially */
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 5px;
  font-size: 17px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 300ms ease;
  transition-delay: 300ms;
}

/* Hovering over the wrapper shows its alt p*/
.alt-wrap:hover > p.alt {
  opacity: 1;
  transition-delay: 0s;
}

.contact-button {
  cursor: url(./assets/rocket.png), pointer;
}
